<div class="container text-center">
	<h1>Welcome To Forum</h1>

	<h3>We have <%= @users.count %> users</h3>	
	<h3>There are <%= @topics.count %> Topics</h3>
	<h3>And <%= @comments.count %> comments</h3>

	<h2>Come And Join Us</h2>

</div>


