<div class="container">
	<h2>My Like</h2>

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>User</th>
		</tr>
		
		<% @likes.each do |like| %>
			<tr>
				<td><%= like.topic.title %></td>
				<td><%= like.topic.user.email %></td>
			</tr>
		<% end %>
	</table>
</div>